body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content:baseline;
    background-color: rgb(44, 69, 122);
    align-items: center;
    height: 130px;
    opacity: 0.95;
    padding-left: 60px;
    z-index: 5;
}
#logo{
    display: flex;
    padding: 40px 20px 20px 0px;
    width: 440.39px;
    
}
#title{
    color: white;
    font-size: 32px;
    margin: 0;
    margin-top: 10px;
}
#title_span{
    color:white; 
    font-size: 16px; 
    padding-left: 5px;
}
#logo_p{
    height: 100px;
    width: 332px;
}
#nav_ul{
    list-style-type: none;
    display: flex;
    padding: 0;
}
.nav_ul_li{
    padding: 0 40px;
    font-size: 25px;
    color: white;
    height: 100px;
    line-height: 100px;
}
.nav_ul_li:hover{
    background-color: rgb(33, 68, 145);
    border-radius: 7px;
}
#bg{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;

    z-index: -3;
}