* {box-sizing:border-box} 

/* 슬라이드쇼 컨테이너의 디자인 */
.slideshow-container {
  top: 10px;
  max-width: 900px;
  position: relative;
  margin: auto;
}

/* 이미지를 숨기는데 사용 */
.mySlides {
    display: none;
}

/* 다음, 이전 버튼 */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* "다음 버튼"을 오른쪽에 위치 */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* 마우스를 올리면 배경색을 변경 */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* 하단의 점들 */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* 페이드 효과 */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}